doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .layout-container
      .row
        .col-xs-4
          img.logo(src='/images/icon.png')
        .col-xs-4
          .title Spareparts Automobile
      .row
        .col-xs-4
          .menu-box
            a.menu(href="/") Home
            a.menu(href="/orders") Orders
            a.menu(href="/products") Find Products
            a.menu(href="/orders/add") Add Order
            a.menu(href="/customers") Alter Customer Contacts

        

    block content
