extends layout

block content
  h1 I found your lucky number!
  p#lucky_number It is: # #{number}

   
  label(for=id) #{number}
  select(id="number", name="number")
    each number in number_list
      option #{number}

  