body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1 {
  color: pink;
}

.error {
  color: red;
  font-family: "Comic Sans MS";
}

#lucky_number {
  font-weight: bold;
  font-size: 24px;
}

a {
  color: #00B7FF;
}

/* User Table */
.user_table {
  width: 100%;
  border-collapse: collapse;
}

.user_table th {
  padding: 7px;
  border: #4e95f4 1px solid;
  background: darkblue;
  color: white;
}

.user_table td {
  padding: 7px;
  border: #4e95f4 1px solid;
}

.user_table td.center {
  text-align: center;
}


.icon {
  width: 24px;
  height: 24px;
}

/* Fallback for IE < 8 */
.user_table tr{
  background: #b8d1f3;
}

.user_table tr:nth-child(odd){
  background: #b8d1f3;
}

.user_table tr:nth-child(even){
  background: #dae5f4;
}

/* Order Table */
.order_table {
  width: 100%;
  border-collapse: collapse;
}

.order_table th {
  padding: 7px;
  border: lightcoral 1px solid;
  background: pink;
  color: white;
}

.order_table td {
  padding: 7px;
  border: #f44e6a 1px solid;
}

/* Fallback for IE < 8 */
.order_table tr{
  background: #b8d1f3;
}

.order_table tr:nth-child(odd){
  background: #b8f3d3;
}

.order_table tr:nth-child(even){
  background: #e8f4da;
}

/* Input Form*/
.user_input{
  width: 450px;
  font-size: 16px;
  background: #495C70;
  padding: 30px 30px 15px 30px;
  border: 5px solid #53687E;
  }
  .user_input input[type=submit],
  .user_input input[type=button],
  .user_input input[type=text],
  .user_input input[type=email],
  .user_input input[type=password],
  .user_input textarea,
  .user_input label
  {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 16px;
  color: #fff;
  
  }
  .user_input label {
  display:block;
  margin-bottom: 10px;
  }
  .user_input label > span{
  display: inline-block;
  float: left;
  width: 150px;
  }
  .user_input input[type=text],
  .user_input input[type=email],
  .user_input input[type=password]
  {
  background: transparent;
  border: none;
  border-bottom: 1px dashed #83A4C5;
  width: 275px;
  outline: none;
  padding: 0px 0px 0px 0px;
  font-style: italic;
  }
  .user_input textarea{
  font-style: italic;
  padding: 0px 0px 0px 0px;
  background: transparent;
  outline: none;
  border: none;
  border-bottom: 1px dashed #83A4C5;
  width: 275px;
  overflow: hidden;
  resize:none;
  height:20px;
  }
  
  .user_input textarea:focus,
  .user_input input[type=text]:focus,
  .user_input input[type=email]:focus,
  .user_input input[type=password]:focus
  {
  border-bottom: 1px dashed #D9FFA9;
  }
  
  .user_input input[type=submit],
  .user_input input[type=button]{
  background: #576E86;
  border: none;
  padding: 8px 10px 8px 10px;
  border-radius: 5px;
  color: #A8BACE;
  }
  .user_input input[type=submit]:hover,
  .user_input input[type=button]:hover{
  background: #394D61;
  }