body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1 {
  color: darkblue;
}

.error {
  color: red;
  font-family: "Comic Sans MS";
}

#lucky_number {
  font-weight: bold;
  font-size: 24px;
}

a {
  color: #00B7FF;
}

/* User Table */
.user_table {
  width: 100%;
  border-collapse: collapse;
}

.user_table th {
  padding: 7px;
  border: #4e95f4 1px solid;
  background: darkblue;
  color: white;
}

.user_table td {
  padding: 7px;
  border: #4e95f4 1px solid;
}

/* Fallback for IE < 8 */
.user_table tr{
  background: #b8d1f3;
}

.user_table tr:nth-child(odd){
  background: #b8d1f3;
}

.user_table tr:nth-child(even){
  background: #dae5f4;
}

/* Order Table */
.order_table {
  width: 100%;
  border-collapse: collapse;
}

.order_table th {
  padding: 7px;
  border: #4e95f4 1px solid;
  background: darkblue;
  color: white;
}

.order_table td {
  padding: 7px;
  border: #4e95f4 1px solid;
}

/* Fallback for IE < 8 */
.order_table tr{
  background: #b8d1f3;
}

.order_table tr:nth-child(odd){
  background: #b8d1f3;
}

.order_table tr:nth-child(even){
  background: #dae5f4;
}