extends ../layout

block content
  h1 Place Order
  form.user_input(action='/orders', method='post')

    label(for='order_date')
        span Order Date
        select(name="order_date", id='order_date')
            option #{moment(Date.now()).format('MMMM Do YYYY, h:mm:ss a')}
    label(for='customer.first_name')
        span First Name
        input(type='text', name='customer.first_name', id='customer.first_name', required='true')
    label(for='customer.last_name')
        span Last Name
        input(type='text', name='customer.last_name', id='customer.last_name', required='true')
    label(for='customer.address.street_address')
        span Street Adress
        input(type='text', name='customer.address.street_address', id='customer.address.street_address', required='true')
    label(for='customer.address.zip_code')
        span Zip Code
        input(type='text', name='customer.address.zip_code', id='customer.address.zip_code', required='true')
    label(for='customer.address.city')
        span City
        input(type='text', name='customer.address.city', id='customer.address.city', required='true')
    label(for='customer.contact.phone')
        span Phone
        input(type='text', name='customer.contact.phone', id='customer.contact.phone', required='true')
    label(for='customer.contact.email')
        span Email
        input(type='text', name='customer.contact.email', id='customer.contact.email', required='true')
    label(for="orderdetails.product_name")
      span Product
      select.dropdown_window(name="orderdetails.product_name", type="text", id="orderdetails.product_name", required="true")
            each products in products_list
                option #{products.products_name}
    label(for="orderdetails.quantity_ordered")
      span Quantity
      input(type='number', name='orderdetails.quantity_ordered', id='orderdetails.quantity_ordered', required='true', value="1")

    label.control-label(for='submit')
        span
        input(type='submit', id='submit', value='Save')
    
select(name="order_date", id='order_date')
option #{moment(Date.now()).format('MMMM Do YYYY, h:mm:ss a')}
        